* {
	box-sizing: border-box;
  	margin: 0px;
	padding: 0px;
}

body {
	background: #F9E79F;
}

h1 {
	margin: 10px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
}

p {
	color: #000000;
	padding: 10px;

}

.container {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;	
	padding: 10px;
}

section {
	background: #B2BABB;
	border:	1px solid black;
	font-family: Arial, Helvetica;
	position: relative;
	overflow: auto;
	max-height: 230px;

}

/* Simple Responsive Framework. */
.row {
  width: 100%;
}

div.fromMenu {
	border: 1px solid black;
	text-align: center;
	font-family: Georgia, sans-serif;
	font-size: 120%;
	font-weight: bold;
	padding: 3px;
	position: relative;
    width: 28%;
    margin-left: 72%;
}

div#chicken {
	color: #000000;
	background-color: #f2aaaa;
}

div#beef {
	color: #FFFFFF;
	background-color: #CB4335;
}

div#sushi {
	color: #000000;
	background-color: #F9E79F;
}

/*Desktop 992px and above*/
/********** Large devices only **********/
@media (min-width: 992px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 74.99%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }
}

/*Tablet 768px and 991px*/
/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 74.99%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }
}

/*Mobile less than 767px.*/
/*No need it in this case*/